<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>ShoesMall</title>
</head>
<body>
<h1>상품</h1>



<section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {%for i in items%}
                    <div class="col mb-5">
                        <div class="card h-100">

                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />

                            <div class="card-body p-4">
                                <div class="text-center">

                                    <h5 class="fw-bolder">{{ i.name }}</h5>

                                    <h3>{{ i.hook_text }}</h3>
                                    <h3>{{ i.price }}&bsol;</h3>
                                </div>
                                <div>
                                  {%if i.msg %}
                                  <h3>재입고 예정일: {{ i.restock }}</h3>
                                  {%else%}
                                  <h3>재입고 예정 없음</h3>
                                  {%endif%}
                                </div>
                            </div>

                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </section>



</body>
</html>