{% load socialaccount %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container">
        <a class="navbar-brand" href="/">ShoesMall</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <!--나중에 카테고리 넣기-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdown" href="/shoes_list/" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shoes</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for category in categories %}
                        <li><a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category }}({{ category.post_set.count }})</a></li>
                        {%endfor%}
                    </ul>
                </li>

                <li class="nav-item"><a class="nav-link" aria-current="page" href="/my_page/">My Page</a></li>
                <li class="nav-item"><a class="nav-link" href="/company_shoesmall/">Company</a></li>
            </ul>


            <form class="ml-auto">
                <div class="card ml-auto mr-2">

                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" id="search-input"/>
                        <button class="btn btn-dark" id="button-search" type="button" onclick="searchPost();">Search</button>
                    </div>

                </div>
            </form>
            <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" arid-haspopup="true" aria-expanded="false">
                            {% if user.socialaccount_set.all.0.get_avatar_url %}
                            <img class="rounded-circle" width="25px" src="{{user.socialaccount_set.all.0.get_avatar_url}}">
                            {% else %}
                            <img class="rounded-circle" width="25px" src="https://doitdjango.com/avatar/id/487/06e7f8791372bf27/svg/{{user.email}}">
                            {% endif %}
                            &nbsp;
                            {{user.username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a role="button" class="btn btn-light" href="/accounts/logout/">
                            Log Out
                            </a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a role="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#loginModal">
                            Log In
                        </a>
                    </li>
                    {% endif %}
                </ul>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="logInModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Log In</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row-md-4 mb-4">
                        <a role="button" class="btn btn-outline-secondary btn-block btn-sm" href="{% provider_login_url 'google' %}">
                        <i class="fab fa-google"></i>&nbsp;&nbsp; Log in with Goolgle</a>
                    </div>
                    <div class="row-md-4 mb-4">
                        <a role="button" class="btn btn-outline-secondary btn-block btn-sm" href="/accounts/login/">
                          <i class="fas fa-envelope"></i>&nbsp;&nbsp; Log in with Username</a>
                    </div>
                    <div class="row-md-4">
                        <a role="button" class="btn btn-outline-secondary btn-block btn-sm" href="/accounts/signup/">
                        <i class="fas fa-envelope"></i>&nbsp;&nbsp; Sign Up with E-mail</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-success">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function searchPost(){
            let searchValue = document.getElementById('search-input').value.trim();
            if(searchValue.length > 1){
            location.href="/shoes_list/search/" + searchValue + "/";
            }
            else{
            alert('검색어('+ searchValue +')가 너무 짧습니다.');
            }
        };

        document.getElementById('search-input').addEventListener('keyup', function(event){
            if(event.key == 'Enter'){
                searchPost();
            }
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</nav>
