{%extends 'shoesmall/base.html'%}

{%block main_area%}
{% if post_list.exists %}

                    {%for i in post_list%}
                    <div class="col mb-5">
                        <div class="card h-100">
                            {% if i.head_image %}
                            <img class="card-img-top" src="{{ i.head_image.url }}" width="450" height="230"/>
                            {% else %}
                            <img class="card-img-top" src="https://dummyimage.com/450x450/dee2e6/6c757d.jpg"  alt="..."/>
                            {%endif%}
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h3 class="small mb-1">{{ i.product | upper}}&nbsp;|&nbsp;{{ i.category | upper}}</h3>
                                    <h4 class="fw-bolder"><b>{{ i.item }}</b></h4>

                                    <h6>{{ i.hook_text }}</h6>
                                    <h5>{{ i.price }}원</h5>

                                </div>
                            </div>

                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
                                {%if i.msg %}
                                <p>재입고: {{ i.restock }}</p>
                                {%else%}
                                <p>재입고 예정 없음</p>
                                {%endif%}
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="{{ i.get_absolute_url }}">
                                    View options</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}

 {%else%}
 <h3>아직 게시물이 없습니다.</h3>
 {%endif%}
{%endblock%}